<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Tinder: Login</title>
    <link rel="stylesheet" href="static/css/login1.css">
</head>

<body data-gr-c-s-loaded="true">
    <div class="login-container">
        <header class="header">
            <a href="http://www.alexshmyrkov.space/URL%20Shortener/login.html" class="header-link"><img src="Tinder%20Login_files/iba-login-logo.png" alt="IBA Tech Academy"></a>
        </header>

        <section class="login-section">
            <img class="login-section-image" src="Tinder%20Login_files/login-img.png" alt="robot w/ computers">
            <div class="login-section-container">
                <h1 class="login-section-container-title">Welcome Back!</h1>
                <p class="login-section-container-description">To keep connected with us please login with personal
                    information by email address and password</p>
                <form action="" class="login-section-container-form">
                    <div class="login-section-container-form-input-wrapper">
                        <img src="Tinder%20Login_files/mail-icon.svg" alt="User Icon">
                        <label for="email"></label>
                        <input class="login-section-container-form-input" id="email" placeholder="Email address" type="email">
                    </div>
                    <div class="login-section-container-form-input-wrapper">
                        <img src="Tinder%20Login_files/lock-icon.svg" alt="User Icon">
                        <label for="password"></label>
                        <input class="login-section-container-form-input" id="password" placeholder="Password" type="password">
                    </div>
                    <div class="login-section-container-options">
                        <div class="login-section-container-options-wrapper">
                            <label class="login-section-container-options-checkbox-wrapper">Remember Me
                                <input type="checkbox" class="login-section-container-options-old-checkbox">
                                <span class="login-section-container-options-checkmark"></span>
                            </label>
                        </div>
                        <a href="http://www.alexshmyrkov.space/URL%20Shortener/forgot-password.html" class="login-section-container-options-link">Forgot
                            password?</a>
                    </div>
                    <div class="login-section-form-buttons">
                        <a href="http://www.alexshmyrkov.space/URL%20Shortener/landing.html" class="login-section-container-form-login">Login now</a>
                        <a href="http://www.alexshmyrkov.space/URL%20Shortener/registration.html" class="login-section-container-form-signup">Create account</a>
                    </div>
                    <div class="login-section-form-social">
                        <div class="login-section-form-social-description-wrapper">
                            <hr class="login-section-form-social-description-line">
                            <span class="login-section-form-social-description">Or you can Join with</span>
                            <hr class="login-section-form-social-description-line">
                        </div>
                        <div class="login-section-form-social-icon-wrapper">
                            <a href="#" class="login-section-form-social-icon"><img src="Tinder%20Login_files/google-plus.svg" alt="Google Plus"></a>
                            <a href="#" class="login-section-form-social-icon"><img src="Tinder%20Login_files/facebook.svg" alt="Facebook"></a>
                            <a href="#" class="login-section-form-social-icon"><img src="Tinder%20Login_files/linked-in.svg" alt="Linked In"></a>
                            <a href="#" class="login-section-form-social-icon mr0"><img src="Tinder%20Login_files/twitter.svg" alt="Twitter"></a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="Tinder%20Login_files/checkbox.js"></script>


</body></html>